@model HR_System.Models.DepartmentVM
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/MainView.cshtml";
}
@section body{
<h2>Department</h2>
<table>
    <tr>
        <td>
            @Html.Label("Name")


        </td>
        <td>
            @Html.TextBoxFor(a=>a.dept.Name)
        </td>
        <td>@Html.Label("Description")</td>
        <td>
            @Html.TextBoxFor(a => a.dept.Description)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>

        </td>
        <td></td>
        <td>
            <input type="submit" name="Save" value="Save" />
        </td>
    </tr>
</table>
    }
