
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>MainView</title>
   
</head>
<body>
    <div style="background-color:red;">

        <span><h1>Dare Academy</h1></span>
        <span style="padding-left: 1000px;"><a href=" ">LogOut</a></span>

    </div>
    <div>
        @RenderSection("body");
    </div>
                
</body>
</html>
